<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Thomas Schoof!</h2>
                <p>
                    And I'm a Belgian-based developer. If I'm not working I'm usually consuming media, enjoying &amp; photograpphing nature or enjoying a drink with friends.
                </p>
                <p>
                    I have a diverse set of skills, ranging from web development (HTML + CSS + Javascript), all the way to any .NET related technology.
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>